:root {
    --bg-main:#f5f5dc;
    --text:#333;
    --bg-secondary:#fff;
}

/* Start header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-main);
}

.logo {
    width: 89px;
    height: 80px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins';
}

.header-nav_link {
    padding: 1rem;
    margin: 1rem;
}
/* End header */

/* Start footer */
.footer-links_column {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-main);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.footer-links_links {
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: var(--text);
}

li {
    color: var(--text);
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.social-icons {
    width: 16px;
}
/* End footer */